{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static '/images/popcorn.svg' %}" alt="" width="60" height="54" class="d-inline-block align-text-center">
            <span class="link-hover-effect">Best Movies</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link link-hover-effect" href="#">Parcourir les films</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <a class="nav-link link-hover-effect" href="#"><i class="fas fa-sign-in-alt"></i> Login</a>
                <a class="nav-link link-hover-effect" href="#"><i class="fas fa-user-plus"></i> Signup</a>
            </ul>
        </div>
    </div>
</nav>